discord.py>=2.0.0
google-cloud-compute>=1.0.0
google-auth>=2.0.0
configparser
python-dotenv
python-dateutil
pteropy==0.1.9
SQLAlchemy>=1.4.0 # Ou la version que vous utilisiez
# Ajoutez d'autres dépendances si identifiées comme cruciales dès maintenant
